<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.au.GenesianTheatreCompany.mapper.PageMapper">
    <select id="listAll" resultType="com.au.GenesianTheatreCompany.entity.Pages">
            select * from pages order by pgid;
    </select>

    <select id="getPageById" resultType="com.au.GenesianTheatreCompany.entity.Pages">
        SELECT * FROM pages WHERE pgid = #{pgid};
    </select>

</mapper>