<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.au.GenesianTheatreCompany.mapper.ShowMapper">
    <select id="listAll" resultType="com.au.GenesianTheatreCompany.entity.Show">
        SELECT * FROM shows;
    </select>
    <select id="findShowsByStartYear" resultType="com.au.GenesianTheatreCompany.entity.Show">
        SELECT * FROM shows
        WHERE EXTRACT(YEAR FROM startdate) = #{year}
        ORDER BY EXTRACT(MONTH FROM startdate), EXTRACT(DAY FROM startdate)
    </select>
    <select id="findAllDistinctYears" resultType="java.lang.Integer">
        SELECT DISTINCT CAST(EXTRACT(YEAR FROM startdate) AS INTEGER) AS year
        FROM shows
        ORDER BY year
    </select>
    <select id="findShowDetailByPid" resultType="com.au.GenesianTheatreCompany.entity.Show">
        SELECT * FROM shows
        WHERE pid = #{pid}
    </select>
    <select id="getPnameByPid" resultType="java.lang.String">
        SELECT pname FROM shows
        WHERE pid = #{pid}
    </select>
</mapper>